/* Added navbar design, used justify-content to create space between the header and the navagation bar*/
.navbar {
    background-color: rgb(195, 221, 234);
    color:black;
    height: 100px;
}

.containerflex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px;
}


.navbar ul {
    display: flex;
    height: 100%;
    
}
.navbar a {
    padding: 15px;
    margin: 5px 10px;
    text-decoration: none;

}

.navbar a:hover {
    background-color: rgb(244, 237, 231);
    box-shadow: 10px 10px;
}

/*Added article desgin, used border-radius to turn my squared image into a rounded one, centered text*/
.me {
    height: 250px;
    width: 300px;
    border-radius: 50%;
}
h2 {
    text-align: center;
    padding: 10px;
}

/* Added main design, created buttons that will deploy user to my projects*/
.button {
    text-decoration: none;
    font-size: 20px;
    font:bolder;
    border: 3px solid black;
    padding: 10px;
    z-index: 1;
    position: relative;
    top: 20px;
    left: 10px;
    overflow: visible;
    background-color: bisque;
}

.pics {
    height: 170px;
    width: 800px;
}

#focuspic {
    height: 400px;
    width: 800px;
}
/*Used to give my content a grid display and display contents with a sidebar and projects adjecent to it*/
.content {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.aside {
    padding: 50px;
    background-color:rgb(250, 220, 183);
 
}

.work {
    background-color:cadetblue;
    margin-left: 45px;
    padding-bottom: 15px;
}


/*Added footer design, used flex tools to display contents in a row*/
.footer {
    background-color: rgb(123, 166, 135);
    color:black;
    height: 100%;
    
}

.footer ul {
    display: flex;
    justify-content: center;
    height: 80px;
    flex-direction: row;
    padding: 30px;  
    
}

.footer a {
    padding: 15px;
    margin: 5px 10px;
}

footer h3 {
    text-align: center;
    padding-top: 30px;
}
/*added media screen for responsive design*/

@media screen and (min-width:992px) {
    body {
        width:100%;
    }

    body {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: rgb(252, 231, 252);
        flex:0 0 100%;
        max-width: 100%;
    }
    body:last-child {
        flex: grow 1;
    }
}

